// Code de style pour la section d'introduction de la page web

// Placement du section d'introduction avec un display grid de deux colonnes et de deux rangés
.Intro {
    margin: 150px 0px 0 6vw;
    height: 50vh;
    width: auto;
    z-index: 2;

    // Placement et personnalisation du titre qui se trouve dans la section d'introduction.
    h1 {
        margin: 20px 0 0 0.5vw;
        color: white;
        font-family: "Rockwell";
        font-size: 6vw;
        font-weight: 00;
        /* letter-spacing: 0; */
        line-height: 0px;
        grid-area: cell1;
    }

    // Placement et personnalisation de la description qui se trouve dans la section d'introduction
    .description {
        margin: 16vh 0vw 0px 0vw;
        grid-area: cell1;
        height: auto;
        width: 51vw;
        color: white;
        -webkit-text-fill-color: floralwhite;
        -webkit-text-stroke-width: 1px;
        font-family: "Rockwell";
        padding: 0 0 0 15px;
        font-size: 3vw;
        font-weight: 100;
        letter-spacing: 0;
        line-height: 65px;
        z-index: 2;
    }

    // Placement de l'image qui se trouve dans la section d'introduction
    img {
        margin: 2vw 0 0 2.3vw;
        height: 8vw;
        height: 7vw;
        position: absolute;
    }

    // Placement et personnalisation du bouton qui se trouve dans la section d'introduction
    button {
        border: white;
        border-radius: 6%;
        color: white;
        background-color: orange;
        height: 41px;
        width: 175px;
        margin: -150px 0px 0px 50px;
        grid-area: cell3;
    }

    // Placement du texte de contact qui se trouve dans la section d'introduction
    .contact {
        grid-area: cell3;
        margin: -100px 0px 0px 50px;
        color: red;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

@keyframes sideWays {
    0% {
        margin-top: 0px;
        margin-left: 0px;
    }

    100% {
        margin-top: 20px;
        margin-left: 50px;
    }
}

/* ANIMATIONS */

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 70%;
    top: 20vw;

    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(2.2);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

    height: 13vw;
    position: absolute;
    width: 13vw;
}

.bubble:after {
    background: -moz-radial-gradient(
        center,
        ellipse cover,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 70%
    ); /* FF3.6+ */
    background: -webkit-gradient(
        radial,
        center center,
        0px,
        center center,
        100%,
        color-stop(0%, rgba(255, 255, 255, 0.5)),
        color-stop(70%, rgba(255, 255, 255, 0))
    ); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(
        center,
        ellipse cover,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 70%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(
        center,
        ellipse cover,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 70%
    ); /* Opera 12+ */
    background: -ms-radial-gradient(
        center,
        ellipse cover,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 70%
    ); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

    content: "";
    height: 13vw;
    position: absolute;
    width: 13vw;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////

//---------- Partie du code pour le format mobile-------------------------
@media screen and (max-width: 768px) {
    // Placement du section d'introduction avec un display grid d'une colonne et de deux rangés
    .Intro {
        margin: 60px 0px 0 6vw;

        .bubble {
            display: none;
        }
        //     // Placement et personnalisation du titre qui se trouve dans la section d'introduction.
        h1 {
            margin: 0px 0 0 19vw;
            color: white;
            font-family: "Rockwell";
            font-size: 15vw;
            font-weight: 800;
            letter-spacing: 0;
            line-height: 50px;
        }

        //     // Placement et personnalisation de la description qui se trouve dans la section d'introduction
        .description {
            height: auto;
            text-align: center;
            width: 85vw;
            color: white;
            font-family: "Rockwell";
            -webkit-text-stroke-width: 0px;
            padding: 0 0 0 0;
            margin: 34px 0 0 7px;
            font-size: 5.5vw;
            font-weight: 100;
            letter-spacing: 0;
            line-height: 55px;
            z-index: 2;
        }
    }
}
