// Code de style pour la partie du services dans le site web

// Placement de la partie services avec un display grid de deux colonnes et de quatre rangés
.ListeProjet {
    margin: 0 0 0 10vw;
    justify-content: flex-start;
    list-style: none;
    z-index: 2;
    transition: transform 0.1s;
    // Placement et personnalisation du titre qui se trouve au milieu dans la partie Projet.
    h1 {
        margin: 24px 0 0 -3vw;
        color: white;
        font-family: "Rockwell";
        font-size: 5vw;
        font-weight: 800;
        letter-spacing: 0;
        line-height: 152px;
        grid-area: cell2;
    }

    .Liste {
        list-style: none;
        display: flex;
        // animation:  bulle1 2s ease-in-out infinite alternate;
        flex-flow: wrap;
        margin: 50px 0 0 0;
    }

    .Liste2 {
        list-style: none;
        display: flex;
        // overflow: hidden;
        margin: 0px 0px 0 0vw;
        padding: 0px 0px 0px 0px;
    
    }

    li {
        width: 18vw;
        margin: 0 0 0 0px;
        padding: 145px 0 0 5px;
        
    }

    .Liste li:nth-of-type(1) {
        position: relative;
        top: -6vw;
    left: -3vw;
    // animation:  bulle1 2s ease-in-out infinite alternate;
      
    }

    @keyframes bulle1 { 
        0% {
            margin-top: 0px;
            margin-left: 10px;
           
        }
        50%{
            margin-right: 10px;
        }
        100% {
            margin-top: 10px;
            margin-left: 10px;
           
        }
    }


    @keyframes bulle2 { 
        0% {
           margin-top: 10px;
            margin-left: 10px;
           
        }
        50%{
            
        }
        100% {
            margin-top: 0px;
            margin-left: -10px;
           
        }
    }

    .Liste li:nth-of-type(2) {
       
        position: relative;
        top: -6vw;
    left: 12vw;
    // animation:  bulle2 2s ease-in-out infinite alternate;
    }
    .Liste li:nth-of-type(3) {
       
        position: relative;
        top: -6vw;
    left: 27vw;
    }

    .Liste li:nth-of-type(4) {
       
        position: relative;
        top: 7vw;
    left: -41vw;
    }
    .Liste li:nth-of-type(5) {
       
        position: relative;
        top: -14vw;
    right: -48vw;
    }
    .Liste li:nth-of-type(6) {
       
        position: relative;
        top: 0vw;
        right: 21vw;
    }
    .Liste li:nth-of-type(7) {
       
        position: relative;
        top: 0vw;
    right: -27vw;
    }
    .Liste li:nth-of-type(8) {
       
        position: relative;
        top: 0vw;
    right: 25vw;
    }

   
}

//---------- Partie du code pour le format mobile-------------------------
@media screen and (max-width: 768px) {
    // Placement de la partie Projet avec un display grid d'une colonne et de quatre rangés
    .ListeProjet {
        margin: -70px 0 0 10vw;

        // Placement et personnalisation du titre qui se trouve au milieu dans la partie services.
        h1 {
            font-size: 10vw;
            margin: 40px 0 0 19.4vw;
        }

        .Liste {
            margin: -70px 0 0 0;
        }

        .Liste li:nth-of-type(1) {
            position: relative;
            top: -24vw;
            left: 0vw;          
        }

        .Liste li:nth-of-type(2) {
       
            position: relative;
            top: 7vw;
            left: 17vw;
        }
        .Liste li:nth-of-type(3) {
       
            position: relative;
            top: 44vw;
            left: -38vw;
        }
    
        .Liste li:nth-of-type(4) {
           
            position: relative;
            top: 74vw;
            left: -21vw;
        }
        .Liste li:nth-of-type(5) {
           
            position: relative;
            top: 35vw;
            right: 0vw;
        }
        .Liste li:nth-of-type(6) {
           
            position: relative;
            top: 75vw;
            right: -18vw;
        }
        .Liste li:nth-of-type(7) {
           
            position: relative;
            top: 110vw;
            right: 37vw;
        }
        .Liste li:nth-of-type(8) {
           
            position: relative;
            top: 145vw;
            right: 20vw;
        }
    }
}


