// Code de style pour la partie du services dans le site web

// Placement de la partie services avec un display grid de deux colonnes et de quatre rangés
.ListeCompetence {
    margin: 230px 0px 0px 0vw;
    /* width: 105vw;
    /* background: slategray; */
    justify-content: center;
    align-content: center;
    list-style: none;
    display: flex;
    /* display: flex; */
    flex-flow: column;
    /* border-style: solid;*/

    // Placement et personnalisation du titre qui se trouve au milieu dans la partie Competence.
    h1 {
        margin: 41px 0 0 3vw;
        color: white;
        font-family: "Proxima Nova";
        font-size: 5em;
        font-weight: 800;
        letter-spacing: 0;
        line-height: 50px;
        grid-area: cell2;
    }

    .Liste {
        list-style: none;
        display: flex;
        overflow: hidden;
        margin: 30px 0px 0 0vw;
        padding: 0px 0px 0px 0px;
    }

    .Liste2 {
        list-style: none;
        display: flex;
        overflow: hidden;
        margin: 30px 0px 0 0vw;
        padding: 0px 0px 0px 0px;
    }


    li {
    
    height: 16vw;
    margin: 0 0 55px 0px;
    padding: 34px 0 0 36px;
    }
    
      
 // Placement et personnalisation d'un contenant du caroussel.
 .carousel-cell {
    margin: 70px 0 0 1vw;
   
  }


  
}

//---------- Partie du code pour le format mobile-------------------------
@media screen and (max-width: 573px) {
    // Placement de la partie Competence avec un display grid d'une colonne et de quatre rangés
    .ListeCompetence {
        margin: 680px 0px 0 240px;
        width: 265vw;

        // Placement et personnalisation du titre qui se trouve au milieu dans la partie services.
        h1 {
            margin: 90px 0 0 140px;
            height: 100px;
            width: 1140px;
            color: white;
            font-family: "Proxima Nova";
            font-size: 90px;
            font-weight: 800;
            letter-spacing: 0;
            line-height: 50px;
            grid-area: cell1;
        }

        // .Liste {
        //     list-style: none;
        //     display: flex;
        //     flex-wrap: wrap;
        //     justify-content: space-evenly;
        //     margin: 0px 139px 0 0px;
        //     padding: 0 0 30px 0px;
        // }

        
    }
}

@media (max-width: 1706px) and (min-width: 1190px) {
    // .ListeCompetence {
    //     .appli {
    //         margin: 1390px 0px 0px 175px;
    //         border-bottom: solid;
    //         color: white;
    //         font-family: "Proxima Nova";
    //         width: 232px;
    //         font-size: 25px;
    //         font-weight: 600;
    //         position: absolute;
    //         letter-spacing: 2px;
    //         line-height: 46px;
    //     }
    // }
}

@media (max-width: 1189px) and (min-width: 574px) {
    // .ListeCompetence {
    //     margin: 80px auto;
    //     .appli {
    //         margin: 2754px 0px 0px 254px;
    //         border-bottom: solid;
    //         color: white;
    //         font-family: "Proxima Nova";
    //         width: 310px;
    //         font-size: 50px;
    //         font-weight: 600;
    //         position: absolute;
    //         letter-spacing: 2px;
    //         line-height: 46px;
    //     }
    //     h1 {
    //         margin: 60px 100px auto;

    //         height: 100px;
    //         width: 1140px;
    //         color: white;
    //         font-family: "Proxima Nova";
    //         font-size: 90px;
    //         font-weight: 800;
    //         letter-spacing: 0;
    //         line-height: 50px;
    //         grid-area: cell1;
    //     }

    //     .analyse {
    //         margin: 100px 0px 0px 195px;
    //         border-bottom: solid;
    //         color: white;
    //         width: 472px;
    //         font-family: "Proxima Nova";
    //         font-size: 38px;
    //         font-weight: 600;
    //         position: absolute;
    //         letter-spacing: 2px;
    //         line-height: 47px;
    //     }
    // }
}
