* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        14deg
        , #2914f3, #1be0d7cf);
            background-repeat: no-repeat;
            background-attachment: fixed;
}

.Page{
    
}

